#page-container
{
    margin: 0 4% auto;

    @media screen and (min-width: 768px)
    {
        margin: 0 auto;
    }
}

.container
{
    @apply mx-auto;
}

.breakout
{
    width:    100vw !important;
    position: relative;
    left:     calc(-1 * (100vw - 100%) / 2);
}
