#page-container
{
    @apply m-0;
}

@screen md
{
    #page-container
    {
        @apply mx-auto;
    }
}

.container
{
    @apply mx-5;
    @apply w-full;
}

@screen sm
{
    .container
    {
        @apply mx-auto;
    }
}

.container-fluid
{
    @apply mx-auto;
    @apply w-full;
}

.breakout
{
    width:    100vw !important;
    position: relative;
    left:     calc(-1 * (100vw - 100%) / 2);
}
