<div class="logo-block mx-auto">
    <div class="logo">
        <a href="{{ url('app_homepage') }}">
            <img class="mx-auto py-sm-5 py-3" src="{{ asset('images/logo.png') }}" alt="{{ site_name }} Logo"/>
        </a>
    </div>
</div>