{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock title %}

{% block body %}
    <div class="fluid-container">
        {{ include('includes/ui/landing/hero.html.twig') }}
    </div>

    <div class="container">
        {{ include('includes/ui/landing/testimonial.html.twig') }}
    </div>
{% endblock body %}