{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock title %}

{% block body %}
    <div class="container">
        {% if navigation %}
            {% include 'includes/ui/navigation.html.twig' %}
        {% endif %}
    </div>
{% endblock body %}