.landing-splash
{
    .splash-wrapper
    {
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
    }

    .hero-image
    {
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%);

        .splash
        {
            background-image: url('/images/landing/splash.jpg');
            background-size: auto 100%;

            @media screen and (min-width: 1680px)
            {
                background-size: 100% auto;
            }
        }
    }
}

