.landing-splash
{
    height: auto;

    @media screen and (min-width: 768px)
    {
        height: 600px;
    }

    .hero-image
    {
        clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%);

        .splash
        {
            background-image: url('/images/landing/splash.jpg');
            background-size: auto 100%;

            @media screen and (min-width: 1680px)
            {
                background-size: 100% auto;
            }
        }
    }
}

