<div class="text-center mb-3">
    <h3 class="mb-2 dark:text-white">Latest News</h3>

    <hr class="border border-solid border-theme-primary w-12 mx-auto" />
</div>

<div class="grid grid-cols-1 gap-4 sm:grid-cols-{{ articles|length }}">
    {% for article in articles|default %}
        <div class="mb-2 sm:mb-0">
            {{ include('components/news/news_card_block.html.twig') }}
        </div>
    {% else %}
        <p class="col-span-3 text-center">
            No news to report.
        </p>
    {% endfor %}
</div>