<div class="h-auto w-full border-2 border-gray-200 rounded-lg overflow-hidden mb-3">
    <img class="lg:h-48 md:h-36 w-full object-cover object-center"
         src="/images/sample/720x400.png" alt="blog">
    {{ include('includes/ui/news/news_card.html.twig') }}
</div>