{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <h3>Settings</h3>
        </div>

        <div class="row">
            {{ form_start(settingsForm) }}
                {{ form_row(settingsForm.username) }}
            {{ form_end(settingsForm) }}
        </div>

    </div>
{% endblock body %}