{% extends 'base.html.twig' %}

{% set isUserProfile =
    app.user.uuid is defined
    and app.user.username is same as(user.username)
%}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <h3>{{ user.name }}</h3>
        </div>

    </div>
{% endblock body %}