<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{{ site_name }}{% endblock %}</title>

        {{ include('main/fonts.html.twig') }}
        {{ encore_entry_link_tags('main') }}

        {% block stylesheets %}
        {% endblock %}
    </head>
    {# todo: enable footer sticky and body fill #}
    {#    <body class="flex flex-col h-screen">#}
    <body>
        {% block header %}
            {% if not hideUserBar|default(true) %}
                {% include 'components/navigation/userbar.html.twig' %}
            {% endif %}

            {% include 'components/navigation/navigation.html.twig' %}
        {% endblock header %}

        {% block page %}
            <div id="page-container" class="w-full flex-grow px-5">
                {% block body %}{% endblock %}
            </div>
        {% endblock page %}

        {% block footer %}
            {% include 'footer/footer.html.twig' %}
        {% endblock footer %}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
