{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Events - {{ event.name }}
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ signUp.firstName ~ ' ' ~ signUp.lastName }}, you're all signed up to {{ event.name }}.
        </div>
    </div>
{% endblock body %}