{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Events
{% endblock title %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="flex col-12">
                <h2 class="flex-1">
                    Events
                </h2>

                <a class="link--primary h-30 my-auto px-4 py-3 bg-black-darkest text-theme-primary dark:text-black-base text-xs font-semibold rounded hover:bg-theme-primary hover:text-black-base-darkest hover:no-underline dark:bg-theme-primary"
                   href="{{ url('event_create') }}">
                    Create
                </a>
            </div>

            <div class="col-12">
                {% for event in events %}
                    <div class="row">
                        <div class="col-12">
                            <p class="dark:text-white">
                                {{ event.name }},
                                <a class="link--primary"
                                    href="{{ path('event_view', {'id': event.id, 'slug': event.slug}) }}">
                                     View
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}