{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Events - {{ event.name }}
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ event.name }}
        </div>
    </div>
{% endblock body %}