{% set getStartedLink = (
    app.user.uuid is defined
        ? path('event_create')
        : path('app_register')
) %}

<div class="landing-splash flex flex-row max-w-page mx-auto">
    <div class="splash-wrapper flex grid w-full md:w-1/2 items-center text-left sm:mt-0 px-8 md:px-12 lg:pl-24 md:pr-0 mt-4 min-h-500 sm:h-screen">
        <div class="w-full lg:w-4/5">
            <h2 class="text-3xl font-semibold text-black-base-base md:text-4xl dark:text-white">
                Get <span class="text-theme-primary">
                    <a class="hover:text-theme-primary hover:underline" href="{{ getStartedLink }}">Organised</a>.
                </span>
            </h2>
            <p class="mt-2 text-sm text-black-base md:text-base dark:text-white">
                Manage your sign ups, organise your own events or discover something completely new!
                <span class="text--bold">{{ site_name }}</span> is your all encompassing events
                management app to keep you up to date in which ever way you need.
            </p>
            <div class="flex justify-center mt-6">
                <a class="link--primary px-4 py-3 bg-black-darkest text-theme-primary dark:text-black-base text-xs font-semibold rounded hover:bg-theme-primary hover:text-black-base-darkest hover:no-underline dark:bg-theme-primary"
                   href="{{ getStartedLink }}">
                    Get Started
                </a>
            </div>
        </div>
    </div>
    <div class="w-full md:block md:w-1/2 hero-image">
        <div class="h-full object-cover bg-no-repeat splash">
            <div class="h-full bg-black opacity-25"></div>
        </div>
    </div>
</div>