<section id="newsletter">
    <div class="w-full mx-auto">
        <div class="pb-6 md:pb-12">
            <div class="relative bg-theme-primary rounded py-10 px-8 md:py-16 md:px-12 shadow-2xl overflow-hidden"
                data-aos="zoom-y-out">
                <div class="relative flex flex-col lg:flex-row justify-between items-center">
                    <div class="text-center lg:text-left lg:max-w-xl">
                        <h3 class="h3 text-3xl text-black mb-3 text--bold">
                            Power your events.
                        </h3>

                        <hr class="border border-solid border-black w-12 mb-5 mx-auto lg:ml-0" />

                        <p class="text-gray-300 text-lg mb-6 max-w-3xl">
                            Keep up-to date on our latest features and updates with our newsletter. We won't spam your
                            mailbox and it is easy to unsubscribe if you change your mind.
                        </p>

                        <form class="w-full lg:w-auto">
                            <div class="flex flex-col sm:flex-row justify-center max-w-xs mx-auto sm:max-w-md lg:mx-0">
                                {{ form_start(form) }}
                                    {{ form_widget(form.email) }}

                                    {{ form_widget(form.submit) }}
                                {{ form_end(form) }}
                            </div>

                            <p class="text-sm text-gray-400 mt-3">
                                If you don't interact with our emails - we will unsubscribe you <span class="text--bold">automatically</span>!
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>